<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.limeui.hwscan">
	
    <!--permission for WiFI post processing,not for scankit itself-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--camera permission-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--read permission for Bitmap Mode-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--write permission for save QRCODE Bitmap,not for scankit itself-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application android:requestLegacyExternalStorage="true">
		<meta-data android:name="ScopedStorage" android:value="true" />
        <activity android:name="com.huawei.hms.hmsscankit.ScanKitActivity" />
    </application>
</manifest>